html,body {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  width: 1100px;
}

ul {
  list-style: none;
}

.header {
  padding: 13px 20px;
  background: #2b2b40;
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.contacts__phone {
  margin: 0 0 6px 0;
  color: #fff;
  font-family: GothamPro;
  font-size: 21px;
  font-weight: bold;
  text-decoration: none;
}

.schedule__text {
  font-family: OpenSans;
  font-size: 14px;
  font-weight: bold;
  color: rgba(203, 35, 118, 0.7);
  text-decoration: underline;
}

.maincontent {
  margin-top: 60px;
  display: flex;
}

.features-list {
  display: flex;
}

.features-item {
  color: red;
}